HOST=0.0.0.0
PORT=3000
MONGODB_DB_NAME=LitCart
MONGODB_URI=mongodb+srv://YOUR_USERNAME:YOUR_PASSWORD@YOUR_CLUSTER.mongodb.net/?retryWrites=true&w=majority
ALLOWED_ORIGINS=http://localhost:4200,https://your-frontend.netlify.app,https://your-frontend.vercel.app
